<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="css/sign.css">
</head>
<body>
<div class="main">
    <div class="full_form">

        <form action="" method="post">
            <h1 class="name">Login</h1>
            <input class="input" type="text" name="email" placeholder="Email ">
            <input class="input" type="password" name="password" placeholder="PassWord">

            <!-- <input type="hidden" name="action" value="login"> -->
            <span class="forgetpass"> <a href="">Quên mật khẩu?</a> </span>&emsp;
            <div class="submit">
                <input type="submit" value="Đăng nhập" class="submit1">
            </div>
            <!-- <input type="hidden" name="action" value="home"> -->
            <input type="hidden" name="action" value="login">
            <br>
            <span class="register"> <a href="">Or Sign Up Using </a> </span><br><br>

        </form>
    </div>
</div>
</body>
</html>